body{
    background: #a4a4a4;
    margin: 0;
    padding: 0;
}

.container .box{
    width: 600px;
    margin: 140px auto;
    background: white;
    display: table;
}

.container .box .box-row{
    display: table-row;
}

.container .box .box-row .box-cell{
    display: table-cell;
    width: 25%;
    padding: 20px;
    font-family: Arial;
}

.container .box .box-row .box-cell.box1{
    background: #ff00ea;
}

.container .box .box-row .box-cell.box2{
    background: #fbff23;
}